{% extends "base.html" %}
{% load static %}

{% block page_header %} 
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col-12 col-md-6 text-center">
            <h1 class="display-4">
                Consider browsing our current products
            </h1>
            <div class="mt-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg btn-primary rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}