body {
    background-color: #F5F5F5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.container-fluid {
    max-width: 1200px;
    margin: auto;
}

h2 {
    font-size: 1.5em;
    color: #333;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

/* Search Bar */
input[type="text"] {
    border-color: #007BFF;
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
}

.dropdown-menu {
    background-color: #fff;
}

.dropdown-item {
    color: #333;
}

.fa-shopping-bag {
    color: #333;
}

.fa-user {
    color: #333;
}

.text-info {
    color: #007BFF !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.header-container {
    padding-top: 64px;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
